@import url("http://fonts.cdnfonts.com/css/berlin-sans-fb-demi");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #FFDFA1;
  /* height: 3000px; */
}

.jumbotron {
  background: #FFDFA1;
}


.download {
  margin-top: 80px;
  margin-bottom: 80px;
}

.margin-center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.item-content {
  margin: 0;
  margin-left: 40px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.do p {
  font-family: 'Poppins',
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

h4 {
  font-family: 'Poppins',
    sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
}

.aplikasi p {
  font-family: 'Poppins',
    sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.penggunaan p {
  font-family: 'Poppins',
    sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.tombol2 {
  font-family: "Poppins",
    sans-serif;
  font-style: normal;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.44);
  border-radius: 5px;
}

.do {
  margin-top: 10px;
}

.penggunaan {
  margin-top: 20px;
}

.download img {
  max-width: 100%;
}