@import url("http://fonts.cdnfonts.com/css/berlin-sans-fb-demi");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* .navbar-brand {
  font: 24px "Berlin Sans FB Demi", sans-serif;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
} */


#logo {
  vertical-align: middle;
}

.navbar-brand span {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 200;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 15px;
  font-family: "Berlin Sans FB Demi", sans-serif;
}

.navbar-brand b {
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.tombol {
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  background: #fe6404;
  border-radius: 10px;
}

@media (min-width: 992px) {
  .navbar {
    padding: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
  }

  .nav-link:hover::after,
  .nav-link.active::after {
    content: "";
    display: block;
    border-bottom: 3px solid #ff0000;
    margin: auto;
    margin-bottom: -8px;
    width: 50%;
    padding-top: 5px;
  }

  .nav-item {
    margin-left: 30px;
  }
}